.vscode/**
.vscode-test/**
node_modules/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
syntaxes/**/*.in
syntaxes/m2-tokens.json
scripts/**
generate-grammar.m2
.prettierrc*
